{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
    django.jQuery(function ($) {
        const opening = $("textarea#id_opening");
        const counter = $("<span id='opening-line-count'></span>")
        opening.after(counter);
        opening.on('input', function (event) {
            const lines = event.target.value.split('\n').filter(l => l.trim().length > 0);
            counter.text(`${lines.length}/6 lines`);
        });
        opening.trigger('input');

        opening.on('paste', function (event) {
            event.preventDefault();
            let paste = event.originalEvent.clipboardData.getData('text');
            console.log(paste)
            paste = paste.replace(/-(\r?\n)(?!\r?\n)/g, '');
            paste = paste.replace(/(\r?\n)(?!\r?\n)/g, ' ');
            paste = paste.replace(/\s*?\n\s*/g, '\n\n');  // re-double remaining
            paste = paste.replace(/\.[^\S\n]+/g, '.\n');
            opening.val(opening.val() + paste);
            opening.trigger('input');
        });
    });
    </script>
{% endblock %}