{% extends "admin/change_form.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
.PhraseContainer {
    font-family: 'Times New Roman';
    --phrase-color: #f8f4ee;
    --phrase-text-color: black;
    padding: 1em 2em;
    border: 1px solid black;
    font-size: 13pt;
    background-color: var(--phrase-color);
    color: var(--phrase-text-color);
    border-radius: 0.5em;
    width: 500px;
    box-sizing: border-box;
}
.PhraseContainer .line {
    opacity: 0;
    user-select: none;
    transition: opacity 2s;
    white-space: pre-wrap;
}
.PhraseContainer .line.shown {
    user-select: text;
    opacity: 1;
}
</style>
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script>
    function splitSelection(field) {
        const sStart = field.selectionStart;
        const sEnd = field.selectionEnd;
        const sLen = sEnd - sStart;
        const tLen = field.value.length;
        let before = field.value.substr(0, sStart);
        let selected = field.value.substr(sStart, sLen);
        let after = field.value.substr(sEnd, tLen);
        return [before, selected, after];
    }

    django.jQuery(function ($) {
        const opening = $("textarea#id_opening");
        const counter = $("<span id='opening-line-count'></span>")
        opening.after(counter);
        opening.on('input', function (event) {
            const lines = event.target.value.split('\n').filter(l => l.trim().length > 0);
            counter.text(`${lines.length}/6 lines`);
        });
        opening.trigger('input');

        opening.on('paste', function (event) {
            event.preventDefault();
            let paste = event.originalEvent.clipboardData.getData('text');
            console.log(paste)
            paste = paste.replace(/-(\r?\n)(?!\r?\n)/g, ''); // collapse line breaks with hyphens
            paste = paste.replace(/(\r?\n)(?!\r?\n)/g, ' '); // collapse single newlines
            paste = paste.replace(/\s*?\n\s*/g, '\n\n');  // re-double remaining
            paste = paste.replace(/\s*?-\s*/g, ' – ');  // expand hyphens to em-dashes
            paste = paste.replace(/(?<![DM][rs])(?<!Mrs)(?<!\.\.)(?<!\.\s)([.!?]['"]?)[^\S\n]+/g, '$1\n'); // new line breaks after periods
            let [before, selected, after] = splitSelection(event.target);
            opening.val(before + paste + after);
            const cursor = before.length + paste.length;
            field.setSelectionRange(cursor, cursor);
            opening.trigger('input');
        });
        opening.on('keyup', function (event) {
            if ((event.metaKey || event.ctrlKey) && event.key === 'i') {
                event.preventDefault();
                const field = event.target;
                if (field.selectionStart !== field.selectionEnd) {
                    let [before, selected, after] = splitSelection(field);
                    let changed = false;
                    if (before.endsWith('_')) {
                        before = before.replace(/_+$/, '');
                        changed = true;
                    }
                    if (selected.endsWith('_') || selected.startsWith('_')) {
                        selected = selected.replace(/^_+/, '').replace(/_+$/, '');
                        changed = true;
                    }
                    if (after.startsWith('_')) {
                        after = after.replace(/^_+/, '');
                        changed = true;
                    }
                    if (!changed) {
                        selected = `_${selected}_`;
                    }
                    field.value = before + selected + after;
                    field.setSelectionRange(before.length, before.length + selected.length);
                }
            }
        });
    });
    </script>
{% endblock %}